h1 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}

#box_principale img {
    height: 128px;
    width: 128px;
    position: absolute;
    margin-left: 420px;
    margin-right: auto;
    display: flex;
}

#box_principale {
    background-color: #FFF8DC;
    background-image: url("https://i.gyazo.com/b7436a7c4576bd52892f5ae37bfb0a10.png");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 210px;
    margin-top: 150px;
    width: 1000px;
    height: 700px;
    border: 3px solid #808080;
}

#presentation {
    /*position: relative;*/
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 70px;
    margin-top: 45px;
    width: 850px;
    height: 450px;
    border: 3px solid #F5DEB3;
    box-shadow: 8px 8px 12px #87CEEB, 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 2px #816F47;
    font-family: Helvetica, serif;
}
/**/
#presentation p a {
    color: white;
}

#pourquoi_simplon {
    background-color: rgba(0, 0, 0, 0.0);
    width: 400px;
    height: 80px;
    position: absolute;
    color: white;
    font-family: Helvetica, serif;
    text-shadow: 8px 8px 20px #87CEEB;
}

#profils {
    /*background-color: rgba(0, 0, 0, 0.0);
    width: 1000px;
    height: 80px;
    position: absolute;
    color: white;
    font-family: Helvetica, serif;*/
    text-shadow: 8px 8px 20px #87CEEB;
}

#profils ul li a {
    color: white;
}